/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Styling the logo and clickable text */
.h1 {
    color: #000000;
    text-decoration: none;
    font-size: 5rem;
    font-weight: bold;
}
  
/*h1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
}*/

.code-input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}

.code-input {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.code-input:focus {
    border-color: #000000;
    outline: none;
}
