/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden; /* Disable scrolling */
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #ffffff;
    gap: 2rem; /* Add vertical space between components */
    max-width: 100%;
    min-height: 100vh; /* Full viewport height */
    padding: 0; 
}

header {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%; /* Make the header span the entire width */
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0 20px 0;
    z-index: 1000; /* Ensure the header stays on top of other content */
}

 /* Normal link styling */
a {
    color: black; /* Initial color for the link */
    text-decoration: none; /* Remove underline if desired */
}

/* Prevent color change on hover */
a:hover {
    color: black; /* Keep the color the same on hover */
}

/* Prevent color change when active (clicking) */
a:active {
    color: black; /* Keep the color the same when clicked */
}

/* Styling the logo and clickable text */
.h1 {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.17em; /* Use em for better control */
    font-weight: 900;
    color: #504848;
    max-width: 100%; /* Maximum width of the container */
    margin: 0 auto; /* Center align container */
}

.underline {
    width: 80%; /* Set width to 80% of viewport */
    height: 1px; /* Set thickness of the underline */
    background-color: #BDB8B8; /* Color of the underline */
    margin: 20px auto; /* Center it horizontally with margin */
    /* You can adjust the margin-top and margin-bottom as needed */
}

/*
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    height: calc(100vh - 60px); 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto; 
}
*/

.container {
    position: absolute; /* Position the container relative to the viewport */
    top: 50%;           /* Center vertically */
    left: 50%;          /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to fully center */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items in the container */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
    max-width: 520px;
    margin-bottom: 20px;
    }

.name {
    color:#504848;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    letter-spacing: 0.17em;
    text-align: left;
    margin-bottom: 0.5rem;
    }

.code {
    color:#504848;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    letter-spacing: 0.27em;
    text-align: left;
    margin-bottom: 1rem;
    }



.footer {
    position: fixed; /* Fixed position */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align at the left */
    width: 100%; /* Full width */
    background-color: #ffffff; 
    color: white;
    padding: 40px 0 40px 0; /* Add padding */
}

.footer-underline {
    width: 80%; /* Set width to 80% of viewport */
    height: 1px; /* Set thickness of the underline */
    background-color: #BDB8B8; /* Color of the underline */
    margin: 0 auto 10px auto;  /* Center it horizontally with margin */
    /* You can adjust the margin-top and margin-bottom as needed */
    z-index: 10;
}


@media (max-width: 768px) {
  
    .image {
        max-width: 480px;
        }

    
}

/* Styles for mobile phones (screens less than 480px) */
@media (max-width: 480px) {

    .image {
        max-width: 320px;
        }
 
}