/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden; /* Disable scrolling */
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #ffffff;
    gap: 2rem; /* Add vertical space between components */
    max-width: 100%;
    height: 100vh; /* Full viewport height */
    padding: 0; 
}

header {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%; /* Make the header span the entire width */
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0 0 0;
    z-index: 1000; /* Ensure the header stays on top of other content */
}

/* Styling the logo and clickable text */
.h1 {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.17em; /* Use em for better control */
    font-weight: 900;
    color: #504848;
    max-width: 100%; /* Maximum width of the container */
    margin: 0 auto; /* Center align container */
}

.underline {
    width: 80%; /* Set width to 80% of viewport */
    height: 1px; /* Set thickness of the underline */
    background-color: #BDB8B8; /* Color of the underline */
    margin: 10px auto; /* Center it horizontally with margin */
    /* You can adjust the margin-top and margin-bottom as needed */
}

.container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;  /* Center items in the container */
    align-items: center;      /* Center horizontally */
    height: calc(100vh - 60px); /* Full viewport height minus the header height */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto; /* Center the container */
}

.image {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin-bottom: 1.5rem;
    }

.name {
    color:#000000;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 1rem;
    }

.code {
    color:#000000;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 1rem;
    }

.footer {
    position: fixed; /* Fixed position */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align at the left */
    width: 100%; /* Full width */
    background-color: #343A40; /* Dark background */
    color: white;
    text-align: center; /* Center text */
    padding: 1rem; /* Add padding */
}

@media (max-width: 768px) {
    body {
        font-size: 1.5rem;
        height: 100vh;
    }
  
    .image {
        width: 100%;
        height: auto;
        max-width: 250px;
        margin-bottom: 20px;
        }
    .name, .code {
        font-size: 1.5rem;
    }

    
}

/* Styles for mobile phones (screens less than 480px) */
@media (max-width: 480px) {
    body {
        font-size: 1rem;
        height: 100vh;
    }
    .image {
        width: 100%;
        height: auto;
        max-width: 200px;
        margin-bottom: 20px;
        }
 
    .name,  .code {
        font-size: 1.2rem;
    }

}